# Don't make these files be changed by others:
assets/data/gameslot_data.json
assets/data/user_data.json
assets/images/users/
assets/data/games/
assets/data/fonts/
assets/scripts/x/
newpage.html
CNAME
*.gitignore