# Don't make these files be changed by others:
resources/data/gameslot_data.json
resources/data/user_data.json
resources/images/users/
resources/data/games/
resources/data/fonts/
resources/newpage.html
*.gitignore