/* Color palette for dark mode */
.header {
    background: #183126;
}

.footer {
    background: #183126;
}

#body {
    color: #ffffff;
    background: #366e55;
}

dialog::backdrop {
    background-color: #00000050;
}