/* Color palette for dark mode */
.header {
    background: #164731;
}

.footer {
    background: #164731;
}

#body {
    color: #ffffff;
    background: #000000;
}

dialog::backdrop {
    background-color: #00000050;
}