/* Styles */
@media (orientation: portrait) {
  *:not(.orientationLandscape, body, html) {
    display: none;
  }
}

@media (orientation: landscape) {
  *.orientationLandscape {
    display: none;
  }
}

.header {
    background: #366e55;
}

.footer {
    background: #366e55;
}

.userHeader {
    margin: 30;
    text-align: center;
    background-color: #000000;
    color: white;
}

#body {
    color: white;
    background: #66cc9e;
}

.userPfp {
    background: #7a7a7a;
}

.userPfp:hover {
    border-color: blue;
}