/* Styles */
.header {
    background: #366e55;
}

.footer {
    background: #366e55;
}

.userHeader {
    margin: 30;
    text-align: center;
    background-color: #22523c;
    border: 10px solid #317c5a;
    border-radius: 30px;
    color: white;
}

#body {
    color: white;
    background: #66cc9e;
}

.userPfp {
    background: #000000;
    border-style: hidden;
    border-radius: 100%;
}