/* Color palette */
.header {
    background: #0000ff;
}

.footer {
    background: #0000ff;
}

#body {
    color: #0000ff;
    background: black;
}

dialog::backdrop {
    background-color: #0000ff50;
}

dialog {
    color: #3e87d1;
    background-color: #000000;
    border-color: #0000ff;
}

input::placeholder {
    color: #0000007e
}

.dialogTitle {
    border-color: #0000ff;
}

.gamescroller {
    border-color: #0000ff;
}

.gameslot {
    background-color: #000000;
    color: #ffffff;
    border-color: #0000ff;
}

.gamescreen {
    border-color: #0000ff;
}

.invisible {
    background-color: #000000;
    border-color: #ff0000;
    color: #ff0000;
}